body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 5px 0; /* !!! This controls the padding on the nav bar */
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        /* Customize the look and feel of the collapsed top nav here */
        padding: 0;
    }
}

/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */

.intro-section {
    height: 100%;
    padding-top: 100px;
    text-align: center;
    background: #fff;
    /*background: #a3a3a3;*/
    background-color:#468499; 
    color: white;
}

.intro-section img {
    height: 15%;
    width: 15%;
}

.about-section {
    height: 100%;
    padding-top: 55px;
    text-align: center;
/*    background-image: url('../img/20140118_173241_compress.jpg');
    background-size: 100% 100%;
    background-repeat: repeat-x;  */  
    /*background-position: top left;*/
    /*background: #eee;*/
    background: #fff;
}

.about-section p {
    font-size: 14px;
}

.about-section h3 {
    font-size: 32px;
}

.about-section #years {
    font-size: 32px;
}

.about-section #verizon {
    font-size: 32px;
    color: #994684;
}

.about-section #CRM {
    font-size: 40px;
    color: #465b99;
}

.about-section #cbm {
    font-size: 24px;
    color: #469985;
}

.about-section #social {
    font-size: 30px;
    color: #995b46;
}

.about-section #email {
    font-size: 24px;
    color: #465b99;
}

.about-section #kpi {
    font-size: 40px;
    color: #469985;
}

.about-section #metrics {
    font-size: 30px;
    color: #995b46;
}

.about-section #reporting {
    font-size: 20px;
    color: #995b46;
}

.about-section #analysis {
    font-size: 20px;
    color: #995b46;
}

.services-section {
    height: 100%;
    padding-top: 100px;
/*    background-image: url('../img/excel.png');
    background-size: 100% 100%;
    background-repeat: repeat-x;*/
    /*text-align: center;*/
    /*background: #fff;*/
    background: #4E93AA;
}

.services-section h2 {
    font-size: 32px;
}

.services-section h4 {
    font-size: 26px;
}

.services-section li {
    font-size: 16px;
    font-family: 'EB Garamond', serif;
}

.services-section ul {
    padding-top: 10px;
}

.services-section p {
    font-size: 16px;
}

#btn-1 {
    background-color: #2E5765; 
}

#btn-2 {
    background-color: #653C2E;
}

#services-section-or {
    color: white;
}

.contact-section {
    height: 100%;
    padding-top: 100px;
    text-align: center;
    background: #eee;
    /*background: #5D9FB5;*/
}

.contact-section p {
    font-size: 16px;
}

.projects-section {
    height: 100%;
    padding-top: 50px;
    text-align: center;
    /*background-image: url('../img/code.png');
    background-size: 100% 100%;
    background-repeat: repeat-x;*/
    background: #fff;
    /*background: #6FA9BD;*/
}


.projects-section img {
    border-top: solid 3px #eee;
    border-right: solid 3px #fff;
    border-left: solid 3px #eee;
    border-bottom: solid 3px #fff;
}

.projects-section h4 {
    font-size: 28px;
    font-family: helvetica;
}

.projects-section p {
    font-size: 18px;
}

.things-section {
    height: 100%;
    padding-top: 75px;
    text-align: center;
    /*background-image: url('../img/code.png');
    background-size: 100% 100%;
    background-repeat: repeat-x;*/
    background: #fff;
    /*background: #6FA9BD;*/
    color: #468499;
}

.contactme-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    /*background-image: url('../img/code.png');
    background-size: 100% 100%;
    background-repeat: repeat-x;*/
    background-color: #468499;
}

.contactme-section p {
    font-size: 28px;
}


